
.musicControl {
    background-color: white;
    text-align: center;
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 14px 27px;
    box-shadow: 1px 1px 3px #ccc;
    .musicControlLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 2.5;
        .left{
            display: flex;
            align-items: center;
            .musicControllThumb {
                height: 56px;
                width: 56px;
                margin-right: 22px;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
            .musicControllSub {
                list-style: none;
                text-align: left;
                padding-left: 0;
                margin: 0;
                .musicControllSongName {
                    font-size: 16px;
                    font-weight: bold;
                    color: #303030;
                }
                .musicControllSongArtist {
                    font-size: 13px;
                    color: #494848;
                    font-weight: 500;
                }
            }
        }
        
        .addIcon{
            font-size: 20px;
            color: black
        }
    }
    .musicControlCenter {
        display: flex;
        flex-direction: column;
        flex: 6;
        .musicControllBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            .musicControllBtnItem {
                margin-right: 20px;
                color: #646161;
            }
            .other {
                font-size: 19px;
            }
            .prevNext {
                font-size: 30px;
            }
            .playPauseIcon {
                padding: 0.5rem;
                background-color: black;
                font-size: 30px;

                color: white;
                border-radius: 50%;
            }
        }

        input[type='range'] {
            -webkit-appearance: none;
            appearance: none;
            width: 500px;
            cursor: pointer;
            outline: none;
            border-radius: 15px;
            height: 0;
            z-index: 1000;
            background-color: transparent;
            transition: 0.5s ease;
        }
        input[type='range']::-webkit-slider-runnable-track {
            height: 3px;
            border-radius: 20px;
        }
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 12px;
            width: 12px;
            background-color: #ff6060;
            border-radius: 50%;
            transition: 0.2s ease-in-out;
            border: none;
            position: relative;
            transform: translateY(-4px);
            transition: 0.2s ease;
        }
        .musicControllTimeline {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                height: 5px;
                margin: 0 15px;
            }
            span {
                font-size: 13px;
                color: #494747;
                font-weight: 500;
            }
        }
    }

    .musicControlRight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
        .rightIcon{
            color: #646161;
            font-size: 20px;
            margin-right: 5px;
        }
        input[type='range'] {
            -webkit-appearance: none;
            appearance: none;
            width: 100px;
            cursor: pointer;
            outline: none;
            border-radius: 15px;
            height: 0;
            z-index: 1000;
            background-color: transparent;
            transition: 0.5s ease;
            height: 3px;
        }
        input[type='range']::-webkit-slider-runnable-track {
            width: 100px;
            border-radius: 20px;
        }
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 0;
            width: 0;
        }
    }
    svg {
        &:hover {
            cursor: pointer;
        }
    }
}
