.RecordItem {
    padding: 17px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    width: 50%;

    .RecordInfo {
        display: flex;
        align-items: center;

        img {
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 5px;
            margin-right: 22px;
            padding-bottom: 0;
        }
        .RecordDetail {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                align-items: center;
                margin-right: 22px;
                margin-left: -2px;
            }
            .recordName {
                color: #2b2a2a;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 6px;
            }
            .Reaction {
                display: flex;
                align-items: center;
                font-size: 12px;
                .icon {
                    color: #848080;
                    font-size: 20px;
                    margin-right: 3px;
                }
            }
        }
    }
    .More {
        font-size: 23px;
    }
    &:hover {
        background-color: #e4e4e4;
        cursor: pointer;
    }
}
.noDataFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 200px;
        height: 142px;
        margin-right: 40px;
    }
    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            color: #474545;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        button {
            outline: none;
            border: none;
            background-color: #ec4e4e;
            height: 42px;
            width: 119px;
            font-size: 18px;
            border-radius: 5px;
            color: #fff;
        }
    }
}
