$font-family: 'IBM Plex Sans', sans-serif;
$border-radius: 30px;
$primary-color: #fc6060;
$font-size: 14px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.022);
$border-color: #545252;

@mixin button-style($text-color, $width, $background-color, $borderradius) {
    width: $width;
    height: 40px;
    width: $width;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    font-size: $font-size;
    align-items: center;
    justify-content: center;
    color: $text-color;
    background-color: $background-color;
    border-radius: $borderradius;
}

@mixin hover-scale($scale: 1.06) {
    &:hover {
        transform: scale($scale);
    }
}

.forgot-Page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;

    .forgotForm-Container {
        width: 800px;
        height: 355px;
        align-items: center;
        box-shadow: $box-shadow;
        background: #fff;
        border: none;
        box-sizing: border-box;
        border-radius: $border-radius;
        padding-top: 15px;
        flex-direction: row;
        h1 {
            font-weight: bold;
            margin-left: 30px;
            font-size: 17px;
            margin-bottom: 15px;
        }
        
        .separatorLine-1 {
            border-top: 1px solid #aba6a6;
            width: 800px;
            color: #3C3B3B;
        } 
        
        .form {
            display: flex;
            font-size: $font-size;
            padding: 0 0px 0 55px;
            margin-top: 30px;
            gap: 20px;
            position: relative;
            span{
                font-size: 13px;
            }
            .form-Group{
                display: flex;
                margin-top: 15px;
                label{
                    margin-top: 0 !important;
                }
            }
            .forgotForm {
                .require {
                    margin-left: 15px;
                }

                label {
                    font-weight: bold;
                    margin-top: 18px;
                }

                input {
                    
                }
    
                .text-red {
                    color: red;
                    margin-right: 10px;
                }

                .formLabel-2 {
                    margin-left: 15px;
                }
                
                .formControl-1 {
                    border-radius: 5px;
                    width: 305px;   
                    height: 35px;

                    border: 1px solid #666666;

                    &:focus {
                        border: 1.9px solid #fc6060;
                    }
                }

                .formControl-2 {
                    border-radius: 5px;
                    width: 305px;   
                    height: 75px;
                    margin-bottom: 30px;                
                    border: 1px solid #666666;
                }
    
                .btn-1 {
                    @include button-style(#fff, 305px, #0C8EAF, 30px);
                    @include hover-scale;
                    border: none;
                    outline: none;
                    font-weight: bold;
                    display: inline;
                    float: right;
                    margin-right: 24px;

                }
                
            }  
            .forgotForm::after{
                content: "";
                height: 240px;
                background: #666666;
                width: 1px;
                position: absolute;
                right: 285px;
                top: -9px;
                opacity: 0.8;
            }
            .loginNowForm {   
                .ask{
                    margin-left: 25px;
                } 
                .btn-2 {
                    @include button-style(#fff, 230px, #FC5050, 25px);
                    @include hover-scale;
                    border: none;
                    outline: none;
                    font-weight: bold;
                    margin-top: 15px;
                    
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .separatorLine {
                    margin-top: 12px;
                    margin-bottom: 8px;
                    text-align: center;
                    position:relative;

                }
                .separatorLine::after{
                    content: "";
                    height: 1px;
                    background: #666666;
                    width: 85px;
                    position: absolute;
                    right: 0px;
                    top: 10px;
                    opacity: 0.8;
                }   
                .separatorLine::before{
                    content: "";
                    height: 1px;
                    background: #666666;
                    width: 85px;
                    position: absolute;
                    /* right: 13px; */
                    top: 10px;
                    left: 0;
                    opacity: 0.8;
                }  

                .btn {
                    @include button-style(#000, 230px, #fff, 25px);
                    margin-bottom: 12px;
                    justify-content: flex-start;
                    padding-left: 20px;
                    gap: 15px;
                    border: 1px solid #222222;
                    outline: none;
                    font-weight: bold;

                    &:hover {
                        border: 1.6px solid #fc6060;
                        outline: none;
                        // border: 1px solid 
                    }
                }
            }
            
        }
    } 
}