.main {
    height: 90px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 162px;
    position: fixed;
    right: 0;
    width: calc(100% - var(--limit-width));
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

.Information {
    display: flex;
    justify-content: center;
}
