.main {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    position: fixed;
    top: 0;
    left: 340px;
    background-color: #fff;
    width: calc(100% - 340px);
}

.Information {
    display: flex;
    justify-content: center;
}
