.SocialLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    p {
        margin: 0;
    }
    div {
        display: flex;
        flex-direction: row;
        gap: 20px;
        svg {
            font-size: 28px;
            cursor: pointer;
        }
    }
}
