.ProfileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-bottom: 0.5px solid #6E6C6C;
    position: relative;
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        li{
            margin: 0;
            list-style: none;
            font-size: 18px;
            font-weight: 500;
     
            // border-bottom: 3px solid #E94040
            margin-right: 35px;
            padding: 5px;
            padding-left: 0;
            color: #202020;
            &:hover{
                cursor: pointer;
            }
            &:active{
                
            }
        }
        a{
            text-decoration: none;
        }
       
    }
    div{
        display: flex;
        .NavButton{
            height: 25px;
            font-size: 15px;
            font-weight: 500;
            color: #565252;
            padding: 0.3rem 0.8rem;
            background-color: transparent;
            outline: none;
            border: 1px solid #535050;
            margin-right: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px
        }
    }
    #slider{
        height: 3px;
        width: 68px;
        background-color: #E94040;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 1000;
        transition: 0.3s ease;
    }

}